@model SalesforceWeb.Dtos.PractitionerFullDto
@{
    ViewData["Title"] = "Practitioner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pb-4">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Practitioner CVO & PSV Form</h6>
                <form asp-controller="Practitioner" asp-action="Index" method="post">
                    <div class="row text-center">
                        <div class="col-sm-4"></div><!-- Col -->
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Credentialing Profile Id</label>
                                <input type="text" class="form-control" placeholder="Enter Credentialing Profile Id" name="credentialProfileId" id="credentialProfileId" value="@ViewBag.credentialProfileId" />
                            </div>
                        </div><!-- Col -->
                        <div class="col-sm-4"></div><!-- Col -->
                    </div><!-- Row -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (TempData["FormattedError"] != null)
{
    <div class="row pb-4">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">JSON Response</h6>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <textarea id="FormattedError" class="form-control jsonEditor" name="JsonError" rows="10">@Html.Raw(TempData["FormattedError"])</textarea>
                            </div>
                        </div><!-- Col -->
                    </div><!-- Row -->
                </div>
            </div>
        </div>
    </div>

}

@if (Model == null)
{

}
else
{
    <form>

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Credentialing Profile Details</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        First Name
                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.First_Name__c" id="First_Name__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Last Name
                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Last_Name__c" id="Last_Name__c" />
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Date of Birth
                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerCPDtos.Date_of_Birth__c?.ToString("yyyy-MM-dd")" id="Date_of_Birth__c" />
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Tax ID
                                    </label>
                                    @if (Model.PractitionerCPDtos.Tax_ID__c == null)
                                    {
                                        <input type="text" class="form-control" value="112342342" id="Tax_ID__c">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Tax_ID__c" id="Tax_ID__c">
                                    }
                                    
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Medicare_Provider__c"
                                    @(Model.PractitionerCPDtos.Medicare_Provider__c == true ? "checked" : "")>
                                    <label class="form-label" for="checkDefault">
                                        Medicare Provider
                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Medicare Number

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Medicare_Number__c" id="Medicare_Number__c" />
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Practitioner NPI

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Practitioner_NPI__c" id="Practitioner_NPI__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Office Address Street

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Office_Address_Street_1__c" id="Office_Address_Street_1__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-6">
                                    <label class="form-label">
                                        Office Address City
                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Office_Address_City__c" id="Office_Address_City__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Office Address State

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Office_Address_State__c" id="Office_Address_State__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Office Address Zipcode

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Office_Address_Zipcode__c" id="Office_Address_Zipcode__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Office Address Country
                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Office_Address_County__c" id="Office_Address_County__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Home Address Street

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Home_Address_Street_1__c" id="Home_Address_Street_1__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Home Address City

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Home_Address_City__c" id="Home_Address_City__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Home Address State

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Home_Address_State__c" id="Home_Address_State__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Home Address Zipcode

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Home_Address_Zipcode__c" id="Home_Address_Zipcode__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Specialties


                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Specialties__c" id="Specialties__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Other Specialty

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Other_Specialty__c" id="Other_Specialty__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Certificate_of_Liability__c"
                                    @(Model.PractitionerCPDtos.Certificate_of_Liability__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Certificate of Liability

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Certificate of Liability Expiration Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerCPDtos.Certificate_of_Liability_Expiration_Date__c?.ToString("yyyy-MM-dd")" id="Certificate_of_Liability_Expiration_Date__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Current Malpractice Insurance Coverage

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Current_Malpractice_Insurance_Coverage__c" id="Current_Malpractice_Insurance_Coverage__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Malpractice Insurance Coverage Status

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Malpractice_Insurance_Coverage_Status__c" id="Malpractice_Insurance_Coverage_Status__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Explanation Current Malpractice

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Explanation_Current_Malpractice__c" id="Explanation_Current_Malpractice__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Malpractice Insurance Coverage Expiration

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerCPDtos.MalpracticeInsurance_Coverage_Expiration__c?.ToString("yyyy-MM-dd")" id="Malpractice_Insurance_Coverage_Expiration__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Languages Spoken

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Languages_Spoken__c" id="Languages_Spoken__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Cultural Competences

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Cultural_Competences__c" id="Cultural_Competences__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        X6-Month Gap in Employment Since Profession

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.X6_month_gap_in_employment_since_profess__c" id="X6_month_gap_in_employment_since_profess__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        X6-Month Gap Start Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerCPDtos.X6_Month_Gap_Start_Date__c?.ToString("yyyy-MM-dd")" id="X6_Month_Gap_Start_Date__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">
                                        X6-Month Gap End Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerCPDtos.X6_Month_Gap_End_Date__c?.ToString("yyyy-MM-dd")" id="X6_Month_Gap_End_Date__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        X6-Month Gap Activity

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.X6_Month_Gap_Activity__c" id="X6_Month_Gap_Activity__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        X6-Month Gap Reason

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.X6_Month_Gap_Reason__c" id="X6_Month_Gap_Reason__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Five_year_work_history__c"
                                    @(Model.PractitionerCPDtos.Five_year_work_history__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Five-Year Work History

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Please_acknowledge_If_denied_credential__c"
                                    @(Model.PractitionerCPDtos.Please_acknowledge_If_denied_credential__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Please Acknowledge if Denied Credential

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Can You Perform the Essential Duties

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Can_you_perform_the_essential_duties_of__c" id="Can_you_perform_the_essential_duties_of__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Reason for Inability to Perform Essential Duties

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Reason_for_inability_to_perform_essentia__c" id="Reason_for_inability_to_perform_essentia__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Lack of Present Illegal Drug Use

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Lack_of_present_illegal_drug_use__c" id="Lack_of_present_illegal_drug_use__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Explanation Lack of Present Illegal Drug Use

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Explanation_Lackofpresentillegaldrug__c" id="Explanation_Lackofpresentillegaldrug__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        History of Loss of License

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.History_of_loss_of_license__c" id="History_of_loss_of_license__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Explanation History of Loss of License

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.ExplanationHistoryoflossoflicense__c" id="ExplanationHistoryoflossoflicense__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        History of Felony Convictions

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.History_of_felony_convictions__c" id="History_of_felony_convictions__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Explanation History of Felony Convictions

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.ExplanationHistory_of_felony_convictions__c" id="ExplanationHistory_of_felony_convictions__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        History of Loss or Limitations of Privileges

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.History_of_loss_or_limitations_of_privil__c" id="History_of_loss_or_limitations_of_privil__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Explanation History of Loss or Limitations of Privileges

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.ExplanationHistory_of_loss__c" id="ExplanationHistory_of_loss_or_limitations_of_privil__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Attestation by the Applicant

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Attestation_by_the_applicant_of_the_corr__c" id="Attestation_by_the_applicant_of_the_corr__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Cultural Competencies Picklist

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerCPDtos.Cultural_Competencies_Picklist__c" id="Cultural_Competencies_Picklist__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Education Details</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        College/University Program Name

                                    </label>
                                    <input type="text" class="form-control" value="@Model.EducationDtos.College_University_Program_Name__c" id="College_University_Program_Name__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        College/University Program Address


                                    </label>
                                    <input type="text" class="form-control" value="@Model.EducationDtos.College_University_Program_Address__c" id="College_University_Program_Address__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Degree

                                    </label>
                                    <input type="text" class="form-control" value="@Model.EducationDtos.Degree__c" id="Degree__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Graduation Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.EducationDtos.Graduation_Date__c?.ToString("yyyy-MM-dd")" id="Graduation_Date__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Post Graduate Medical Training Details</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Medical Training Hospital Name


                                    </label>
                                    <input type="text" class="form-control" value="@Model.PGMedicalTrainingDtos.Medical_Training_Hospital_Name__c" id="Medical_Training_Hospital_Name__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Medical Training Hospital Address

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PGMedicalTrainingDtos.Medical_Training_Hospital_Address__c" id="Medical_Training_Hospital_Address__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Medical Training Type

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PGMedicalTrainingDtos.Medical_Training_Type__c" id="Medical_Training_Type__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Specialty

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PGMedicalTrainingDtos.Specialty__c" id="Specialty__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Training Start Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PGMedicalTrainingDtos.Training_Start_Date__c?.ToString("yyyy-MM-dd")" id="Training_Start_Date__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Training End Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PGMedicalTrainingDtos.Training_End_Date__c?.ToString("yyyy-MM-dd")" id="Training_End_Date__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Practitioner Licenses Certification Details</h6>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">
                                    Record Type

                                </label>
                                <input type="text" class="form-control" value="@Model.PractitionerLCDtos.RecordTypeId" id="RecordTypeId">
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="File_Uploaded__c"
                                    @(Model.PractitionerLCDtos.File_Uploaded__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        File Uploaded
                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        License Certification Status


                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerLCDtos.LicenseCertification_Status__c" id="LicenseCertification_Status__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        License Certification Type

                                    </label>
                                    <input type="text" class="form-control" value="@Model.PractitionerLCDtos.LicenseCertification_Type__c" id="LicenseCertification_Type__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        License Types LARA

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerLCDtos.License_Types_LARA__c" id="License_Types_LARA__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Expiration Date

                                    </label>
                                    <input type="date" class="form-control" value="@Model.PractitionerLCDtos.Expiration_Date__c?.ToString("yyyy-MM-dd")" id="Expiration_Date__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Board Of Certification

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerLCDtos.License_Types_LARA__c" id="License_Types_LARA__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Hospital Affiliation Details</h6>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">
                                    Hospital Affiliation Name
                                </label>
                                <input type="text" class="form-control" value="@Model.HospitalAffiliationDtos.Hospital_Affiliation_Name__c" id="Hospital_Affiliation_Name__c">
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Hospital Affiliation Address
                                    </label>
                                    <input type="text" class="form-control" value="@Model.HospitalAffiliationDtos.Hospital_Affiliation_Address__c" id="Hospital_Affiliation_Address__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Start Date of Affiliation
                                    </label>
                                    <input type="date" class="form-control" value="@Model.HospitalAffiliationDtos.Start_Date_of_Affiliation__c?.ToString("yyyy-MM-dd")" id="Start_Date_of_Affiliation__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Expiration Date of Affiliation
                                    </label>
                                    <input type="date" class="form-control" value="@Model.HospitalAffiliationDtos.End_Date_of_Affiliation__c?.ToString("yyyy-MM-dd")" id="End_Date_of_Affiliation__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Catagory of Membership
                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.HospitalAffiliationDtos.Category_of_Membership__c" id="Category_of_Membership__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Board Of Certification

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.PractitionerLCDtos.License_Types_LARA__c" id="License_Types_LARA__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                    </div>
                </div>
            </div>
        </div>

        <div id="primarySourceVerificationDetails" class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Primary Source Verification Details</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Verifier's Credentialing Organization

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.practitionerPSVDtos.Verifier_s_Credentialing_Organization__c" id="Verifier_s_Credentialing_Organization__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        Other Accred

                                    </label>
                                    <input type="text" class="form-control" value="@Model.practitionerPSVDtos.Other_Accred__c" id="Other_Accred__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">
                                        LARA License

                                    </label>
                                    @* <select class="js-example-basic-single form-select" data-width="100%">
                                <option Value="0" selected>Zero</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select> *@
                                    <input type="text" class="form-control" value="@Model.practitionerPSVDtos.LARA_License__c" id="LARA_License__c">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="LARA_Uploaded__c"
                                    @(Model.practitionerPSVDtos.LARA_Uploaded__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        LARA Uploaded

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="CVO__c"
                                    @(Model.practitionerPSVDtos.CVO__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        CVO

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Ichat_Background_Check__c"
                                    @(Model.practitionerPSVDtos.Ichat_Background_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        ICHAT Background Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Workforce_Background_Check__c"
                                    @(Model.practitionerPSVDtos.Workforce_Background_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Workforce Background Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Medicare_Base_Enrollment__c"
                                    @(Model.practitionerPSVDtos.Medicare_Base_Enrollment__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Medicare Base Enrollment

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Medicare_Opt_Out__c"
                                    @(Model.practitionerPSVDtos.Medicare_Opt_Out__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Medicare Opt Out

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Official_Transcript_from_Accredited_Scho__c"
                                    @(Model.practitionerPSVDtos.Official_Transcript_from_Accredited_Scho__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Official Transcript from Accredited School

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Degree_Verification__c"
                                    @(Model.practitionerPSVDtos.Degree_Verification__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Degree Verification

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="AMA_Verification__c"
                                    @(Model.practitionerPSVDtos.AMA_Verification__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        AMA Verification

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="AOA_Verification__c"
                                    @(Model.practitionerPSVDtos.AOA_Verification__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        AOA Verification

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="MDHHS_Sanctioned_Provider_Check__c"
                                    @(Model.practitionerPSVDtos.MDHHS_Sanctioned_Provider_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        MDHHS Sanctioned Provider Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="MCBAP_Verification__c"
                                    @(Model.practitionerPSVDtos.MCBAP_Verification__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        MCBAP Verification

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="Office_of_Inspector_General_Check__c"
                                    @(Model.practitionerPSVDtos.Office_of_Inspector_General_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        Office of Inspector General Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="SAM_gov_Check__c"
                                    @(Model.practitionerPSVDtos.SAM_gov_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        SAM.gov Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="National_Sex_Offender_Registry_Check__c"
                                    @(Model.practitionerPSVDtos.National_Sex_Offender_Registry_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        National Sex Offender Registry Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="MI_Public_Sex_Offender_Registry_Check__c"
                                    @(Model.practitionerPSVDtos.MI_Public_Sex_Offender_Registry_Check__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        MI Public Sex Offender Registry Check

                                    </label>
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="ECFMG__c"
                                    @(Model.practitionerPSVDtos.ECFMG__c == true ? "checked" : "")>
                                    <label class="form-label">
                                        ECFMG

                                    </label>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="text-center pt-4">
                            <button type="button" class="btn btn-primary" id="GenerateJson">Generate Json</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row pb-4">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Content Version Details</h6>
                    <div id="rowsContainer"></div>
                    <button id="addRowBtn" class="btn btn-primary mt-3">Add</button>
                    <button id="removeRowBtn" class="btn btn-danger mt-3">Remove</button>
                </div>
            </div>
        </div>
    </div>


    @* <form asp-controller="EditPractitioner" asp-action="GetJsonData" method="get" id="generateJsonForm">

        <div class="row pb-4">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Edit Credentialing Profile Details</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Certificate of Liability Expiration Date</label>
                                    <input type="date" class="form-control" value="@Model.Certificate_of_Liability_Expiration_Date__c?.ToString("yyyy-MM-dd")">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Malpractice Insurance Coverage Expiration</label>
                                    <input type="date" class="form-control" value="@Model.MalpracticeInsurance_Coverage_Expiration__c?.ToString("yyyy-MM-dd")">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Summary of Changes</label>
                                    <input type="text" class="form-control" value="@Model.Summary_of_Changes__c">
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="text-center pt-4">
                            <button type="button" class="btn btn-primary" id="GenerateJson">Generate Json</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form> *@

    <div class="row pb-4">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">JSON Result Editor</h6>
                    <form asp-controller="Practitioner" asp-action="PostCompositePractitioner" method="post" id="postPractitionerForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <textarea id="jsoneditor" class="form-control" name="jsonBody" rows="10"></textarea>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="text-center pt-4">
                            <button type="submit" class="btn btn-primary">Post Json Result</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>

        $(document).ready(function () {

            // Function to generate JSON from active fields
            $('#GenerateJson').click(function () {


                function getFieldValue(id) {
                    return $(`#${id}`).val() || ""
                }

                const payload = {
                    "allOrNone": true,
                    "compositeRequest": [
                        {
                            "method": "GET",
                            "referenceId": getFieldValue('credentialProfileId'),
                            "url": "/services/data/v52.0/sobjects/Credentialing_Profile__c/" + getFieldValue('credentialProfileId') + ""
                        },
                        {
                            "method": "PATCH",
                            "url": "/services/data/v59.0/sobjects/Credentialing_Profile__c/" + getFieldValue('credentialProfileId') + "",
                            "referenceId": "updateCredentialingProfile",
                            "body": {
                                "First_Name__c": getFieldValue('First_Name__c'),
                                "Last_Name__c": getFieldValue('Last_Name__c'),
                                "Date_of_Birth__c": getFieldValue('Date_of_Birth__c'),
                                "Tax_ID__c": getFieldValue('Tax_ID__c'),
                                "Medicare_Provider__c": getFieldValue('Medicare_Provider__c'),
                                "Medicare_Number__c": getFieldValue('Medicare_Number__c'),
                                "Practitioner_NPI__c": getFieldValue('Practitioner_NPI__c'),
                                "Office_Address_Street_1__c": getFieldValue('Office_Address_Street_1__c'),
                                "Office_Address_City__c": getFieldValue('Office_Address_City__c'),
                                "Office_Address_State__c": getFieldValue('Office_Address_State__c'),
                                "Office_Address_Zipcode__c": getFieldValue('Office_Address_Zipcode__c'),
                                "Home_Address_Street_1__c": getFieldValue('Home_Address_Street_1__c'),
                                "Home_Address_City__c": getFieldValue('Home_Address_City__c'),
                                "Home_Address_State__c": getFieldValue('Home_Address_State__c'),
                                "Home_Address_Zipcode__c": getFieldValue('Home_Address_Zipcode__c'),
                                "Specialties__c": getFieldValue('Specialties__c'),
                                "Other_Specialty__c": getFieldValue('Other_Specialty__c'),
                                "Certificate_of_Liability__c": getFieldValue('Certificate_of_Liability__c'),
                                "Certificate_of_Liability_Expiration_Date__c": getFieldValue('Certificate_of_Liability_Expiration_Date__c'),
                                "Current_Malpractice_Insurance_Coverage__c": getFieldValue('Current_Malpractice_Insurance_Coverage__c'),
                                "Malpractice_Insurance_Coverage_Status__c": getFieldValue('Malpractice_Insurance_Coverage_Status__c'),
                                "Explanation_Current_Malpractice__c": getFieldValue('Explanation_Current_Malpractice__c'),
                                "Malpractice_Insurance_Coverage_Expiration__c": getFieldValue('Malpractice_Insurance_Coverage_Expiration__c'),
                                "Languages_Spoken__c": getFieldValue('Languages_Spoken__c'),
                                "Cultural_Competences__c": getFieldValue('Cultural_Competences__c'),
                                "X6_month_gap_in_employment_since_profess__c": getFieldValue('X6_month_gap_in_employment_since_profess__c'),
                                "X6_Month_Gap_Start_Date__c": getFieldValue('X6_Month_Gap_Start_Date__c'),
                                "X6_Month_Gap_End_Date__c": getFieldValue('X6_Month_Gap_End_Date__c'),
                                "X6_Month_Gap_Activity__c": getFieldValue('X6_Month_Gap_Activity__c'),
                                "X6_Month_Gap_Reason__c": getFieldValue('X6_Month_Gap_Reason__c'),
                                "Five_year_work_history__c": getFieldValue('Five_year_work_history__c'),
                                "Please_acknowledge_If_denied_credential__c": getFieldValue('Please_acknowledge_If_denied_credential__c'),
                                "Can_you_perform_the_essential_duties_of__c": getFieldValue('Can_you_perform_the_essential_duties_of__c'),
                                "Reason_for_inability_to_perform_essentia__c": getFieldValue('Reason_for_inability_to_perform_essentia__c'),
                                "Lack_of_present_illegal_drug_use__c": getFieldValue('Lack_of_present_illegal_drug_use__c'),
                                "Explanation_Lackofpresentillegaldrug__c": getFieldValue('Explanation_Lackofpresentillegaldrug__c'),
                                "History_of_loss_of_license__c": getFieldValue('History_of_loss_of_license__c'),
                                "ExplanationHistoryoflossoflicense__c": getFieldValue('ExplanationHistoryoflossoflicense__c'),
                                "History_of_felony_convictions__c": getFieldValue('History_of_felony_convictions__c'),
                                "ExplanationHistory_of_felony_convictions__c": getFieldValue('ExplanationHistory_of_felony_convictions__c'),
                                "History_of_loss_or_limitations_of_privil__c": getFieldValue('History_of_loss_or_limitations_of_privil__c'),
                                "ExplanationHistory_of_loss_or_limitations_of_privil__c": getFieldValue('ExplanationHistory_of_loss_or_limitations_of_privil__c'),
                                "Attestation_by_the_applicant_of_the_corr__c": getFieldValue('Attestation_by_the_applicant_of_the_corr__c'),
                                "Cultural_Competencies_Picklist__c": getFieldValue('Cultural_Competencies_Picklist__c'),
                            }
                        },
                        {
                            "method": "POST",
                            "referenceId": "Education1",
                            "url": "/services/data/v52.0/sobjects/Education__c",
                            "body": {
                                "College_University_Program_Address__c": getFieldValue('College_University_Program_Address__c'),
                                "College_University_Program_Name__c": getFieldValue('College_University_Program_Name__c'),
                                "Credentialing_Profile_ID__c": getFieldValue('thisCredentialingProfile.Id'),
                                "Degree__c": getFieldValue('Degree__c'),
                                "Graduation_Date__c": getFieldValue('Graduation_Date__c')
                            }
                        },
                        {
                            "method": "POST",
                            "referenceId": "PGMT1",
                            "url": "/services/data/v52.0/sobjects/Post_Graduate_Medical_Training__c",
                            "body": {
                                "Credentialing_Profile_Id__c": "" + getFieldValue('credentialProfileId') + "",
                                "Medical_Training_Hospital_Address__c": getFieldValue('Medical_Training_Hospital_Address__c'),
                                "Medical_Training_Hospital_Name__c": getFieldValue('Medical_Training_Hospital_Name__c'),
                                "Medical_Training_Type__c": getFieldValue('Medical_Training_Type__c'),
                                "Specialty__c": getFieldValue('Specialty__c'),
                                "Training_End_Date__c": getFieldValue('Training_End_Date__c'),
                                "Training_Start_Date__c": getFieldValue('Training_Start_Date__c')
                            }
                        },
                        {
                            "method": "POST",
                            "referenceId": "HA1",
                            "url": "/services/data/v52.0/sobjects/Hospital_Affiliations__c",
                            "body": {
                                "Credentialing_Profile_Id__c": "" + getFieldValue('credentialProfileId') + "",
                                "Hospital_Affiliation_Address__c": getFieldValue('Hospital_Affiliation_Address__c'),
                                "Hospital_Affiliation_Name__c": getFieldValue('Hospital_Affiliation_Name__c'),
                                "Category_of_Membership__c": getFieldValue('Category_of_Membership__c'),
                                "Start_Date_of_Affiliation__c": getFieldValue('Start_Date_of_Affiliation__c'),
                                "End_Date_of_Affiliation__c": getFieldValue('End_Date_of_Affiliation__c')
                            }
                        },
                        {
                            "method": "POST",
                            "referenceId": "PLC1",
                            "url": "/services/data/v52.0/sobjects/Practitioner_Licenses_Certifications__c",
                            "body": {
                                "RecordTypeId": getFieldValue('RecordTypeId'),
                                "Credentialing_Profile_Id__c": "" + getFieldValue('credentialProfileId') + "",
                                "Expiration_Date__c": getFieldValue('Expiration_Date__c'),
                                "File_Uploaded__c": true,
                                "LicenseCertification_Status__c": getFieldValue('LicenseCertification_Status__c'),
                                "LicenseCertification_Type__c": getFieldValue('LicenseCertification_Type__c'),
                                "License_Types_LARA__c": getFieldValue('License_Types_LARA__c')
                            }
                        },
                        {
                            "method": "POST",
                            "referenceId": "newPSVRecord",
                            "url": "/services/data/v59.0/sobjects/Primary_Source_Verification__c",
                            "body": {
                                "Credentialing_Profile__c": "" + getFieldValue('credentialProfileId') + "",
                                "CVO__c": getFieldValue('CVO__c')
                            }
                        },
                        {
                            "method": "PATCH",
                            "url": "/services/data/v59.0/sobjects/Primary_Source_Verification__c/@@{newPSVRecord.id}",
                            "referenceId": "updatePSVRecord",
                            "body": {
                                "Credentialing_Profile__c": "" + getFieldValue('credentialProfileId') + "",
                                "Primary_Source_Verifier_c": "@@{thisCredentialingProfile.Responsible_Credentialing_Coordinator_c}",
                                "CVO__c": getFieldValue('CVO__c'),
                                "Other_Accred__c": getFieldValue('Other_Accred__c'),
                                "Verifier_s_Credentialing_Organization__c": getFieldValue('Verifier_s_Credentialing_Organization__c'),
                                "Ichat_Background_Check__c": getFieldValue('Ichat_Background_Check__c'),
                                "Workforce_Background_Check__c": getFieldValue('Workforce_Background_Check__c'),
                                "Medicare_Base_Enrollment__c": getFieldValue('Medicare_Base_Enrollment__c'),
                                "Medicare_Opt_Out__c": getFieldValue('Medicare_Opt_Out__c'),
                                "LARA_License__c": getFieldValue('LARA_License__c'),
                                "LARA_Uploaded__c": getFieldValue('LARA_Uploaded__c'),
                                "Official_Transcript_from_Accredited_Scho__c": getFieldValue('Official_Transcript_from_Accredited_Scho__c'),
                                "Degree_Verification__c": getFieldValue('Degree_Verification__c'),
                                "AMA_Verification__c": getFieldValue('AMA_Verification__c'),
                                "AOA_Verification__c": getFieldValue('AOA_Verification__c'),
                                "MDHHS_Sanctioned_Provider_Check__c": getFieldValue('MDHHS_Sanctioned_Provider_Check__c'),
                                "MCBAP_Verification__c": getFieldValue('MCBAP_Verification__c'),
                                "Office_of_Inspector_General_Check__c": getFieldValue('Office_of_Inspector_General_Check__c'),
                                "SAM_gov_Check__c": getFieldValue('SAM_gov_Check__c'),
                                "National_Sex_Offender_Registry_Check__c": getFieldValue('National_Sex_Offender_Registry_Check__c'),
                                "MI_Public_Sex_Offender_Registry_Check__c": getFieldValue('MI_Public_Sex_Offender_Registry_Check__c'),
                                "ECFMG__c": getFieldValue('ECFMG__c')
                            }
                        }
                    ]
                };

                const rows = document.querySelectorAll('#rowsContainer .row');

                rows.forEach((row, index) => {
                    const body = {
                        "Title": row.querySelector('[name="title"]').value,
                        "PathOnClient": row.querySelector('[name="pathOnClient"]').value,
                        "VersionData": row.querySelector('[name="versionData"]').value,
                        "FirstPublishLocationId": getFieldValue('FirstPublishLocationId'),
                        "UC_Document_Type__c": row.querySelector('[name="ucDocumentType"]').value,
                        "LinkedEntityId__c": getFieldValue('LinkedEntityId__c'),
                        "Associated_Provider__c": getFieldValue('Associated_Provider__c')
                    };

                    payload.compositeRequest.push({
                        "method": "POST",
                        "url": "/services/data/v59.0/sobjects/ContentVersion",
                        "referenceId": `psvFile${index + 1}`,
                        "body": body
                    });
                });

                // Output JSON to textarea
                $('#jsoneditor').val(JSON.stringify(payload, null, 2));

                // Initialize CodeMirror
                if (typeof CodeMirror !== 'undefined') {
                    CodeMirror.fromTextArea(document.getElementById("jsoneditor"), {
                        mode: { name: "javascript", json: true },
                        theme: "material",
                        lineNumbers: true,
                        autoCloseBrackets: true,
                        matchBrackets: true
                    });
                }
            });
        });
    </script>
}


@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@

